@import url("./style.scss");

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

img {
  // user-drag: none;
  -webkit-user-drag: none;
}

* {
  -webkit-touch-callout: none; /*系统默认菜单被禁用*/
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:not(input):not(textarea) {
    -webkit-user-select: none; /*webkit浏览器*/
    -khtml-user-select: none; /*早期浏览器*/
    -moz-user-select: none; /*火狐*/
    -ms-user-select: none; /*IE10*/
    user-select: none;
    appearance: none;
  }
}

:root {
  --sat: env(safe-area-inset-top);
  --sat_low: constant(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
}
