%display-center {
  display: center;
  align-items: center;
  justify-content: center;
}

.my-toast {
	z-index: 100000;
	padding: 20px 60px;
	text-align: center;
	background-color: #ffffff !important;
	border-radius: 70px !important;
	box-shadow: 0 8px 16px 0px rgba($color: #a2a2a2, $alpha: 0.38);

	font-size: 24px !important;
	font-weight: 400;
	color: #672e0b !important;
}